@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add your custom styles here */

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.like-anchor:hover .emoji-package,
.like-anchor:hover + .emoji-package,
.emoji-package:hover {
  width: auto;
  opacity: 1;
  bottom: 2.3rem;
  transition: all 0.3s ease-in-out;
  transition-delay: 0.5s;
}

.friends-blog:has(.like-anchor input:checked) {
  .toggle-like {
    color: rgb(37, 99, 235);
  }

  i.icon-like {
    display: block;
    animation: toggle-like;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
  }

  span.unliked {
    display: none;
  }

  span.liked {
    display: block;
  }

  .emoji-package {
    width: 100%;
    opacity: 0;
    bottom: 0;
    transition: all 0s ease-in-out;
  }
}

.icon-others {
  display: none;
}

.friends-blog {
  &:has(#love:checked),
  &:has(#happy:checked),
  &:has(#surprised:checked),
  &:has(#sad:checked),
  &:has(#angry:checked) {
    .icon-like {
      display: none;
    }

    .toggle-like {
      color: rgb(37, 99, 235);
    }
    span.unliked {
      display: none;
    }

    span.liked {
      display: block;
    }

    .icon-like {
      display: none;
    }
  }

  &:has(#love:checked) .icon-love {
    display: block;
  }

  &:has(#happy:checked) .icon-happy {
    display: block;
  }

  &:has(#surprised:checked) .icon-surprised {
    display: block;
  }

  &:has(#sad:checked) .icon-sad {
    display: block;
  }

  &:has(#angry:checked) .icon-angry {
    display: block;
  }
}

.friends-blog.blog1 {
  &:has(#like-1:checked) {
    .icon-others {
      display: none;
    }
    .icon-like {
      display: block;
      /* color:rgb(37, 99, 235); */
    }
  }

  &:has(#love-1:checked) {
    .icon-like {
      display: none;
    }
    .icon-love {
      display: block;
    }
  }

  &:has(#happy-1:checked) {
    .icon-others,
    .icon-like {
      display: none;
    }
    .icon-happy {
      display: block;
    }
  }

  &:has(#surprised-1:checked) {
    .icon-others,
    .icon-like {
      display: none;
    }
    .icon-surprised {
      display: block;
    }
  }

  &:has(#sad-1:checked) {
    .icon-others,
    .icon-like {
      display: none;
    }
    .icon-sad {
      display: block;
    }
  }

  &:has(#angry-1:checked) {
    .icon-others,
    .icon-like {
      display: none;
    }
    .icon-angry {
      display: block;
    }
  }
}

.friends-blog.blog2 {
  &:has(#like-2:checked) {
    .icon-others {
      display: none;
    }
    .icon-like {
      display: block;
      /* color:rgb(37, 99, 235); */
    }
  }

  &:has(#love-2:checked) {
    .icon-like {
      display: none;
    }
    .icon-love {
      display: block;
    }
  }

  &:has(#happy-2:checked) {
    .icon-others,
    .icon-like {
      display: none;
    }
    .icon-happy {
      display: block;
    }
  }

  &:has(#surprised-2:checked) {
    .icon-others,
    .icon-like {
      display: none;
    }
    .icon-surprised {
      display: block;
    }
  }

  &:has(#sad-2:checked) {
    .icon-others,
    .icon-like {
      display: none;
    }
    .icon-sad {
      display: block;
    }
  }

  &:has(#angry-2:checked) {
    .icon-others,
    .icon-like {
      display: none;
    }
    .icon-angry {
      display: block;
    }
  }
}

@keyframes toggle-like {
  0% {
    scale: 1;
    rotate: 0deg;
  }

  50% {
    scale: 1.2;
    rotate: -45deg;
  }

  100% {
    scale: 1;
    rotate: 0deg;
  }
}

/* @keyframes hover-effect {
  0% {
    width: auto;
    bottom: 0;
    opacity: 1;
  }

  100% {
    width: auto;
    bottom: 2.3rem;
    opacity: 1;
  }
} */

@media screen and (min-width: 1340px) {
  .aside-left,
  .aside-right {
    flex-grow: 1;
    max-width: 400px;
  }

  /* .middle {
    width: 700px !important;
  } */
}

/* shortcomings summary */

/* html very difficult to read */
/* media query, sometimes not working well */
/* grid, no full function */
/* hover or checkbox, not support selecting element other than self, e.g.  b:hover .c{} */
/* not support pseudo element */
/* not support 'has' */
/* not support aspect-ratio */
/* not support calc() */
/* google fonts compatibility ？ */
